/* INFORMATION ABOUT ALBUM */
.album-info {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
    margin-top:20px;
    margin-left: 20px;
}

.album-cover-main {
    width: 260px;
    height: 260px;
    border-radius: 10px;
    overflow: hidden;
}

.album-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.album-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:60px;
}

.album-title {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 2px;
}

.artist-name {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #c195ce;
    margin-bottom: 5px;
}

.album-meta {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #aaa;
}

/* SONGS LIST */
.tracklist {
    display: flex;
    flex-direction: column;

}

.track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-radius: 5px;
    height:50px;
}

.track-odd {
    background-color: transparent;
}

.track-even {
    background-color: #151515;
}

.track:hover {
    background-color: #282727;
    cursor: pointer;
}


.track-name {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}

.track-duration {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #ccc;
}

/* ADAPTIVITY */
@media (max-width: 768px) {
    .album-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .album-cover {
        width: 150px;
        height: 150px;
    }

    .album-title {
        font-size: 1.5rem;
    }

    .artist-name {
        font-size: 1.2rem;
    }

    .album-meta {
        font-size: 0.9rem;
    }
}
